<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-gruop">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control col-md-5 col-sm", placeholder: "Enter email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-gruop">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control col-md-5 col-sm", placeholder: "Password", autocomplete: "new-password" %>
  </div>

  <div class="form-gruop">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control col-md-5 col-sm", placeholder: "Password confirmation", autocomplete: "new-password" %>
  </div>

  <div class="form-gruop">
    <%= f.label :name %><br />
    <%= f.password_field :name, class: "form-control col-md-5 col-sm", placeholder: "Username" %>
  </div>

  <div class="actions pb-5">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
